.App {
  text-align: center;
  margin: 0 auto; /* Центрирование по горизонтали */
  max-width: 1060px; /* Максимальная ширина контента */
  padding: 0 20px; /* Отступы по бокам */
}

.categoriesList {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.CategoriesTitle {
  cursor: pointer;
}